<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["LMS.Blazor.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="PageRenderMode" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;950&display=swap" rel="stylesheet">
  
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveWebAssembly : null;                                   //prerender true
       //HttpContext.AcceptsInteractiveRouting() ? new InteractiveWebAssemblyRenderMode() : null;                  //prerender true
       //HttpContext.AcceptsInteractiveRouting()? new InteractiveWebAssemblyRenderMode(prerender: true) : null;    //prerender true
       //HttpContext.AcceptsInteractiveRouting()? new InteractiveWebAssemblyRenderMode(prerender: false) : null;   //prerender false
}
