@using LMS.Shared.DTOs.Course
@using LMS.Blazor.Client.Components.Icons
@using LMS.Shared.DTOs.Module
@using LMS.Blazor.Client.Components.Shared

@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="col-4">
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1 text-primary">
            <BookOpenIcon Size="46" CssClass="bg-primary-subtle p-2 rounded-2" />
            <span class="badge rounded-pill @(Course.Active ? "bg-success-subtle text-success" : "bg-danger-subtle text-danger")">
                @(Course.Active ? "Active" : "Inactive")
            </span>
        </div>

        <h5 class="fw-bold my-2">@Course.Name</h5>
        <p>@Course.Description</p>

        <div class="pb-3">
            <CalendarIcon CssClass="text-secondary" />
            <span>Start: @Course.StartDate.ToString("d MMMM yyyy")</span>
        </div>
        <div class="pb-3">
            <ParticipantsIcon CssClass="text-secondary" />
            <span>@Course.ParticipantsCount participants</span>
        </div>
        <div class="pb-3">
            <BookOpenIcon CssClass="text-secondary" />
            <span>@Course.ModulesCount modules</span>
        </div>

        <hr class="text-secondary" />

        <ProgressBar Title="Course progress" StartDate="@Course.StartDate" EndDate="@Course.EndDate" />

       @*  <div class="d-flex justify-content-between align-items-center mb-1">
            <button class="btn btn-primary btn-sm"
                    @onclick="() => OnShowParticipants.InvokeAsync(Course.Id)">
                Show participants
            </button>
            <button class="btn btn-outline-secondary btn-sm ms-2"
                    @onclick="() => OnShowModules.InvokeAsync(Course.Id)">
                Show modules
            </button>
        </div> *@
    </div>
</div>

@code {
    [Parameter]
    public CourseSummaryDto Course { get; set; } = new CourseSummaryDto();

    // [Parameter]
    // public EventCallback<Guid> OnShowParticipants { get; set; }

    // [Parameter]
    // public EventCallback<Guid> OnShowModules { get; set; }
}
