@using LMS.Shared.DTOs.Course

@if (Courses is null || Courses.Count == 0)
{
    <p>No courses found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Courses)
            {
                <tr>
                    <td><a href="@($"/courses/{course.Id}")">@course.Name</a></td>
                    <td>@course.Description</td>
                    <td>@course.StartDate.ToShortDateString()</td>
                    <td>@course.EndDate.ToShortDateString()</td>
                    <NavLink class="btn btn-sm btn-outline-primary"
                             href="@($"/teacher/managecourses/edit/{course.Id}")">
                        Edit
                    </NavLink>
                    <button class="btn btn-sm btn-outline-danger"
                            @onclick="() => OnDeleteClicked.InvokeAsync(course.Id)">
                        Delete
                    </button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<CourseDto> Courses { get; set; } = new();

    [Parameter]
    public EventCallback<Guid> OnDeleteClicked { get; set; }
}