@page "/teacher/dashboard"
@using LMS.Shared.DTOs.Course
@attribute [Authorize(Roles = "Teacher")]
@inject IApiService ApiService

<PageTitle>Dashboard – Lexicon LMS</PageTitle>

<div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-2">
    <div>
        <h4 class="fw-bold mb-0">Teacher Dashboard</h4>
        <p class="text-muted small mb-0">@DateTime.Today.ToString("dddd, dd MMMM yyyy")</p>
    </div>    
</div>

<div class="row">
    @if (isLoading)
    {
        <p>Loading...</p>
    }
    else if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="text-danger">@errorMessage</p>
    }
    else
    {
        @foreach (var course in Courses)
        {
            <div class="col-4">
                <div class="card p-3">
                    <h5>📚 @course.Name</h5>
                    <button class="btn btn-primary btn-sm"
                            @onclick="() => LoadParticipants(course.Id)">
                        Show participants
                    </button>
                    @if (SelectedCourseId == course.Id)
                    {
                        @if (participants.Any())
                        {
                            <ul class="mt-2">
                                @foreach (var student in participants)
                                {
                                    <li>@student.FirstName @student.LastName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No participants found</p>
                        }
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    private bool isLoading = true;
    private string? errorMessage;

    List<CourseDetailsDto> Courses = new();
    List<ParticipantDto> participants = new();

    Guid? SelectedCourseId = null;

    CourseDetailsDto? SelectedCourse;

    protected override async Task OnInitializedAsync()
    {
        await LoadCourses();        
    }
    private async Task LoadCourses()
    {        
        try
        {
            Courses = await ApiService.GetAsync<List<CourseDetailsDto>>("api/courses")
                  ?? new();

        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task LoadParticipants(Guid courseId)
    {
        SelectedCourseId = courseId;

        participants = await ApiService.GetAsync<List<ParticipantDto>>(
            $"api/courses/{courseId}/participants") ?? new();

    }   
}